<div class="container">


    <h1>Create Content</h1>
    <form [formGroup]="contentForm" (submit)="processContent()">
    
    
     <label>Content Title: </label>
     <mat-form-field>
       <input matInput placeholder="Title" formControlName="title" required>
       <mat-error *ngIf="invalidContentField('title')">Please enter a valid title</mat-error>
     </mat-form-field>
   
   
     <div formArrayName="contents">
    
     <div *ngFor="let content of contents.controls; let i=index">
        
     <div [formGroupName]="i">

      <button mat-raised-button color="accent" class="add-label" (click)="removeSection(i)">Remove Section {{i+1}}</button><br>

      <mat-form-field class="section-title">
        <input matInput placeholder="Section Title" formControlName="sectionTitle" required>
        <mat-error *ngIf="invalidContentField('contents.' + i + '.sectionTitle')">Please provide section title.</mat-error>
      </mat-form-field><br>

   
       <mat-form-field class="section-field">
         <textarea matInput placeholder="Content" formControlName="notes" required rows="5"></textarea>
         <mat-error *ngIf="invalidContentField('contents.' + i + '.notes')">Please provide content.</mat-error>
       </mat-form-field>

       
   
       <br>
         </div>
       </div>
     </div>
   
   
    <br>
     <button mat-raised-button color="primary" class="add-label" type="button" (click)="addSection()">Add Section</button>&nbsp;
     
     <p>Assign to classes:</p>
     <div *ngIf="classes$ | async as classes">
       <div formArrayName="selectedClasses">
         <div *ngFor="let class of classes; let i = index">
           <label>
             <input type="checkbox" [formControlName]="i" [value]="class">
             {{ class }}
           </label>
         </div>
       </div>
     </div><br>
     
   
   
     <div>
       <button mat-raised-button color="primary" class="submit-label" type="submit" [disabled]="contentForm.invalid">Submit</button>
     </div>
    
   </form>
   </div>
   
    
   