<div class = "container">

  <div class="chart-container">
    <div style="width: 20vw; height: 300px;">
      <canvas id="allQuizAttempts"></canvas>
    </div>
    <div style="width: 20vw; height: 300px;">
      <canvas id="eachQuizAverage"></canvas>
    </div>
    <div style="width: 20vw; height: 300px;">
      <canvas id="allContentCreated"></canvas>
    </div>
  </div>
  
<!-- <div style="width: 20vw; height: 300px;">
  <canvas id="allQuizAttempts"></canvas>
</div>
<div style="width: 20vw; height: 300px;">
  <canvas id="allContentCreated"></canvas>
</div> -->

<div *ngIf="allQuizCreated$ | async as quizResponses;">
    <h1>Quiz</h1>
    <ol>
      <li *ngFor="let quizResponse of quizResponses">
        
    
   
        <td class="quiz_row" (click)="viewQuiz(quizResponse.quiz_id)">
            {{ quizResponse.title}} ({{ quizResponse.quiz_id }}) {{quizResponse.attempts}} &nbsp;&nbsp;
        </td>
        <td>
          <!-- Created: {{quizResponse.date_created}} -->
          <span [style.color]="'grey'" *ngIf="quizResponse.date_created !== ''"> Created: {{quizResponse.date_created}}&nbsp;</span><span [style.color]="'grey'" *ngIf="quizResponse.date_edited !== ''"> |&nbsp; Edited: {{ quizResponse.date_edited }}</span>
        </td>
    

      </li>
    </ol>
</div>

<div *ngIf="allContentCreated$ | async as contentResponses;">
  <h1>Notes</h1>
  <ol>
    <li *ngFor="let contentResponse of contentResponses">
      
  
 
      <td class="quiz_row" (click)="viewContent(contentResponse.content_id)">
          {{ contentResponse.title}} ({{ contentResponse.content_id }})&nbsp;&nbsp;
      </td>
      <td>
        <!-- Created: {{quizResponse.date_created}} -->
        <span [style.color]="'grey'" *ngIf="contentResponse.date_created !== ''"> Created: {{contentResponse.date_created}}&nbsp;</span><span [style.color]="'grey'" *ngIf="contentResponse.date_edited !== ''"> |&nbsp; Edited: {{ contentResponse.date_edited }}</span>
      </td>
  

    </li>
  </ol>
</div>



</div>

