<div class = "container">

<div *ngIf="allQuizCreated$ | async as quizResponses;">
    <h1>Quiz</h1>
    <ol>
      <li *ngFor="let quizResponse of quizResponses">
        
    
   
        <td class="quiz_row" (click)="viewQuiz(quizResponse.quiz_id)">
            {{ quizResponse.title}} ({{ quizResponse.quiz_id }})&nbsp;&nbsp;
        </td>
        <td>
          <!-- Created: {{quizResponse.date_created}} -->
          <span [style.color]="'grey'" *ngIf="quizResponse.date_edited !== ''"> Created: {{quizResponse.date_created}}&nbsp; |&nbsp; Edited: {{ quizResponse.date_edited }}</span>
        </td>
    

      </li>
    </ol>
</div>



</div>