<div>
        <p>{{errorMessage}}</p>

        <form [formGroup]="loginForm" (submit)="login()">
          
              <table>
                <tr>
                  <td>Email:&nbsp;&nbsp;</td>
                  <td>
                      <mat-form-field appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput type="email" formControlName="email" placeholder="Email">
                      <mat-error *ngIf="invalidField('email')">Please enter a valid Email</mat-error>
                    </mat-form-field>
                  </td>
                </tr>
          
                <tr>
                  <td>Password:</td>
                  <td>
                    <mat-form-field appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" formControlName="password" placeholder="Password">
                      <mat-error *ngIf="invalidField('password')">Please enter a valid password. Password should have a minimum of 8 characters, including at least 1 special character and 1 letter.</mat-error>
                    </mat-form-field>
                  </td>
                </tr>
          
                <tr>
                  <td></td>
                  <td>
                    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>&nbsp;&nbsp;&nbsp;
                    <a routerLink="/register" class="link">Register</a>
                  </td>
                </tr>
          
                <tr>
                  <td></td>
                  <td>
                    <mat-progress-spinner *ngIf="isLoading" class="loader" diameter="30" mode="indeterminate"></mat-progress-spinner>
                  </td>
                </tr>
              </table>
          
            </form>
          
</div>
          




