body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Ensure the body takes up the full viewport height */
  margin: 0; /* Remove default margin */
 
}
  
  /* Style the form container (optional) */
  form {
    max-width: 400px;
    width: 85%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    height: 50vh;
  }
  
  /* Style the form elements (optional) */
  mat-form-field,
  mat-radio-button,
  button {
    width: 85%;
    margin-bottom: 16px; /* Adjust the margin as needed */
  }

 body {
    background-image: url("../../assets/static/images/lms.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.tab-style {
  background-color: white;
  
}





  