<ng-container *ngIf="(isLoggedIn$ | async) as loggedIn; else loggedOut">
<mat-toolbar color="primary">
    <span><span style="color: greenyellow; font-size: 20px;">Edu</span><span style="color: navajowhite;">Quest</span> Learning Management System</span>
    <span class="spacer"></span>
    <a routerLink="/dashboard" class="link">Dashboard</a>
    <a routerLink="/quiz" class="link">Quiz</a>
    <button mat-raised-button color="warn" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Log Out
    </button>
</mat-toolbar>
</ng-container>


<ng-template #loggedOut>
    <mat-toolbar color="primary">
        <span><span style="color: greenyellow; font-size: 20px;">Edu</span><span style="color: navajowhite;">Quest</span> Learning Management System</span>
        <span class="spacer"></span>
        <a routerLink="/about" class="link">About</a>
        <a routerLink="/login" class="link">Log In</a>
    </mat-toolbar>
</ng-template>
