 <div class="container">
 <h1>Create Quiz</h1>
 <form [formGroup]="quizForm" (submit)="processQuiz()">
 
 
  <label for="name">Quiz Title: </label>
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title" required>
  </mat-form-field>

  <div formArrayName="questions">
    Questions:
  <div *ngFor="let question of questions.controls; let i=index">
     
  <div [formGroupName]="i">
    {{i+1}}) {{ question.get('questionType')?.value === 'MCQ' ? 'MCQ' : 'Free Response' }}

    <mat-form-field class="question-field">
      <textarea matInput placeholder="Question" formControlName="question" required rows="5"></textarea>
    </mat-form-field>

    <div *ngIf="question.get('questionType')?.value === 'MCQ'">
          <div class="option-container">
            <label class="option-label">A)</label>&nbsp;
            <mat-form-field class="option-field">
              <input matInput placeholder="Answer for A" formControlName="option1" required>
            </mat-form-field>
            <input type="radio" formControlName="answer" value="A">
          </div>

          <div class="option-container">
            <label class="option-label">B)</label>&nbsp;
            <mat-form-field class="option-field">
              <input matInput placeholder="Answer for B" formControlName="option2" required>
            </mat-form-field>
            <input type="radio" formControlName="answer" value="B">
          </div>

          <div class="option-container">
            <label class="option-label">C)</label>&nbsp;
            <mat-form-field class="option-field">
              <input matInput placeholder="Answer for C" formControlName="option3" required>
            </mat-form-field>
            <input type="radio" formControlName="answer" value="C">
          </div>

          <div class="option-container">
            <label class="option-label">D)</label>&nbsp;
            <mat-form-field class="option-field">
              <input matInput placeholder="Answer for D" formControlName="option4" required>
            </mat-form-field>
            <input type="radio" formControlName="answer" value="D">
          </div>
    </div>

    <div *ngIf="question.get('questionType')?.value === 'FreeResponse'">
      <mat-form-field class="answer-field">
        <input matInput placeholder="Answer" formControlName="answer" required>
      </mat-form-field>
    </div>
    
    <button mat-raised-button color="accent" class="add-label" (click)="removeQuestion(i)">Remove Question {{i+1}}</button>
    <br>
      </div>
    </div>
  </div>


 <br>
  <button mat-raised-button color="primary" class="add-label" (click)="addMCQ()"> +MCQ</button>&nbsp;
  <button mat-raised-button color="primary" class="add-label" (click)="addFreeResponse()"> +Free-Response</button>&nbsp;
  <div>
    <button mat-raised-button color="primary" class="submit-label" type="submit">Submit</button>
  </div>
 
<div>
  {{this.quizForm.value | json}}
</div>

</form>
</div>
 
 
