<form [formGroup]="quizForm">
    <div class="container">
      <div *ngIf="quizForm.value">
        <h1 class="custom-h1">Quiz</h1>
        <div class="form-group">
          <!-- <p>Quiz ID: {{ quiz_id }}</p> -->
        </div>
        <div class="form-group">
          <p class="custom-h2">Title: {{ quizForm.get('title')?.value }}</p>

        </div><br>
        <div formArrayName="questions">
          <div *ngFor="let question of questionControls; let i = index">
  
            <div [formGroupName]="i">
  
        <div class="form-group">
                <label for="question">Question {{ i + 1 }}:</label><br>
                <p>Question type: {{ question.get('questionType')?.value }}</p>
                <p>Question: {{ question.get('question')?.value }}</p>
                <!-- <textarea id="question" formControlName="question" rows="5"></textarea> -->
              </div>
          
        <div class="form-group" *ngIf="question.get('questionType')?.value === 'MCQ'">
                    <div class="form-group"><br>
                      <label for="option1">A) </label>&nbsp;
                      <span class="option-span">{{ question.get('option1')?.value }}</span>
                      <input type="radio" formControlName="answer" value="A">
                    </div>
                    <div class="form-group"><br>
                      <label for="option2">B) </label>&nbsp;
                      <span class="option-span">{{ question.get('option2')?.value }}</span>
                      <input type="radio" formControlName="answer" value="B">
                    </div>
                    <div class="form-group"><br>
                      <label for="option3">C) </label>&nbsp;
                      <span class="option-span">{{ question.get('option3')?.value }}</span>
                      <input type="radio" formControlName="answer" value="C">
                    </div>
                    <div class="form-group"><br>
                      <label for="option4">D) </label>&nbsp;
                      <span class="option-span">{{ question.get('option4')?.value }}</span>
                      <input type="radio" formControlName="answer" value="D">
                    </div>
                </div><br>
              <div *ngIf="question.get('questionType')?.value === 'FreeResponse'">
                <div class="form-group"><br>
                  <label for="answer">Answer: </label>
                  <input type="text" id="answer" formControlName="answer">&nbsp;
                </div>
              </div>
              <div>
                  [<span>{{ question.get('marks')?.value }}</span> m]

                  <mat-error *ngIf="invalidQuizField('questions.' + i + '.answer')">Please provide the answer</mat-error>

                </div><br>
                
        <br>
            </div>
          </div>
        </div>
        <br>
          <button mat-raised-button color="primary" (click)="submitQuiz(quiz_id)" [disabled]="quizForm.invalid">Submit</button>&nbsp;&nbsp;{{marks}} 

      </div>
    </div>
  </form>
