<div class = "container">
<p>Welcome, {{ name }} ({{ studentClass }}). </p>
<!-- <p>Class: {{ studentClass }}</p> -->

<div class="chart-container">
  <div style="width: 50vw; height: 300px;">

    <canvas id="allQuizAverageResults"></canvas>
  </div>
</div>

    <div *ngIf="allStudentQuizCreated$ | async as quizResponses;">
        <h1>Quiz</h1>
        <ol>
          <li *ngFor="let quizResponse of quizResponses">
            
            <!-- {{ quizResponse | json }} -->
            <td class="quiz_row" (click)="viewQuiz(quizResponse.quiz_id)">
                {{ quizResponse.title}} ({{ quizResponse.quiz_id }})&nbsp;
            </td>
            <td>
           
              <span [style.color]="'grey'" *ngIf="quizResponse.student_total_marks !== undefined; else newMessage">
                  |&nbsp;Marks: {{ quizResponse.student_total_marks }} out of 
                  {{ quizResponse.quiz_total_marks }}&nbsp;&nbsp; | &nbsp; {{quizResponse.percent}} %&nbsp;&nbsp;
                |&nbsp; Attempted on {{quizResponse.date_attempted }}
              </span>
            </td>
    
          </li>
        </ol>
    </div>


    <div *ngIf="allStudentContentCreated$ | async as contentResponses;">
      <h1>Content</h1>
      <ol>
        <li *ngFor="let contentResponse of contentResponses">
          
          <!-- {{ quizResponse | json }} -->
          <td class="quiz_row" (click)="viewContent(contentResponse.content_id)">
              {{ contentResponse.title}} ({{ contentResponse.content_id }})&nbsp;
          </td>
          <td>
         
            <span [style.color]="'grey'" *ngIf="contentResponse.date_created !== undefined; else newMessage">

              |&nbsp; Uploaded on {{contentResponse.date_created }}
            </span>
          </td>
  
        </li>
      </ol>
  </div>
    
  
    </div>


  <ng-template #newMessage>
    <p class="glowing-text">New!</p>
  </ng-template>