<div class = "container">
<p>Welcome, {{ name }} ({{ studentClass }}). </p>
<!-- <p>Class: {{ studentClass }}</p> -->

    <div *ngIf="allStudentQuizCreated$ | async as quizResponses;">
        <h1>Quiz</h1>
        <ol>
          <li *ngFor="let quizResponse of quizResponses">
            
            <!-- {{ quizResponse | json }} -->
            <td class="quiz_row" (click)="viewQuiz(quizResponse.quiz_id)">
                {{ quizResponse.title}} ({{ quizResponse.quiz_id }})&nbsp;
            </td>
            <td>
              <span *ngIf="quizResponse.student_total_marks !== ''"> | Marks: {{ quizResponse.student_total_marks }} out of 
                {{ quizResponse.quiz_total_marks }} | {{quizResponse.percent}} %
              | Attempted on {{quizResponse.date_attempted }}</span>
            </td>
    
          </li>
        </ol>
    </div>
    
    
    
    </div>